body{
    background:url(https://res.cloudinary.com/dan6hjcvr/image/upload/v1667143284/pexels-photo-260922_j98eum.webp) no-repeat center;
    background-color: black;
    background-position: 50% 60px;
}
nav{
    overflow: auto;
}

#logo{
    padding-left: 10px;
}

span {
    padding-inline: 6.5em;
}

.txt {
    font-size: 17px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
}