body{
    background:url(https://res.cloudinary.com/dan6hjcvr/image/upload/v1667143284/pexels-photo-260922_j98eum.webp) no-repeat center;
    background-color: black;
    background-position: 50% 55px;
}
nav{
    overflow: auto;
}

#logo{
    padding-left: 10px;
}

.txt {
    font-size: 17px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-bkg{
    background-color: aliceblue;
    padding: 10px;
    margin-top: 25px;
    width: 60%;
    margin: auto;
    text-align: center;
}

#text-a{
    text-align: center;
    padding-bottom: 20%;
    margin-top: 20%;
}

label{
    color: black;
    font-weight: bold;
}

#id_remember{
    opacity: 100;
    position: inherit;
}

.content-box{
    background:#ffffffc4;
    padding-bottom: 16vw;
    width: 80%;
    margin: auto;
}
.page-title{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 5vw;
    padding-top: 2vw;
}

.space{
    padding: 10px;
}

.form-css{
    margin: auto;
    width: fit-content;
    text-align: center;
}

.asteriskField {
    display: none;
}

.h-btn-con{
    text-align: center;
    margin-top: 11vw;
}

.h-btn{
    font-size: 3.5vw;
    color: grey;
}