{% extends "base.html" %}
{% block content %}
<div class="content-box">
    <h1 class="page-title">Welcome to Gastro!</h1>

    <div class="row">
        <div class="col h-btn-con">
            <a href="{% url 'menu' %}"><button type="button" class="btn btn-primary h-btn">View Our Menu</button></a>
        </div>
        <div class="col h-btn-con">
            <a href="{% url 'reservations' %}"><button type="button" class="btn btn-primary h-btn">Create Reservation</button></a>
        </div>
    </div>
</div>
{% endblock %}